# Project Specific
topsides/static/css/themes/loaded/
tools/messages.log
Calypso.stl

# Python Byte-Compiled / Optimized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# Python Linters
.mypy_cache/

# Operating System Specific Files
.DS_Store

# Google Drive Files
desktop.ini

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

# JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/